.products {
            display: flex;
            justify-content: space-between;
            margin-left: 10%;
            width: 80%;
            flex-wrap: wrap ;
        }
.products_imge {
    width: 200px;
}


.products_image{
    width: 100%;
    height: 150px;
}

.pages{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pages> a> button{
    margin: 5px;
    border-radius: 50%;
    padding: 5px;
}
